/* Satoshi */
@font-face {
  font-family: 'Satoshi';
  src: url("") format('woff2'),
       url("") format('woff'),
       url("") format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url("") format('woff2'),
       url("") format('woff'),
       url("") format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url("") format('woff2'),
       url("") format('woff'),
       url("") format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url("") format('woff2'),
       url("") format('woff'),
       url("") format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url("") format('woff2'),
       url("") format('woff'),
       url("") format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}


